# Database connection string
MONGODB_URI=mongodb://127.0.0.1/payload-template-website

# The vercel blob token used for all media and backups (recommended).
# If not provided, payload will run in local file mode and will store files in /public folder and not in any file storage. This will only work for deployments with non-volatile storage and is not recommended.
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_AAAAAAAAAAA_0000EXAMPLE000EXAMPLE000EXAMPLE000

# Used to encrypt JWT tokens
PAYLOAD_SECRET="demo-payload-secret"

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to preview drafts
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalidation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalidation-key

# provide Turnstile environment variables to enable turnstile form bot protection (optional)
#NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x0000000000000000000000
#NEXT_PRIVATE_TURNSTILE_SECRET_KEY=0x000000000000000000000000000000000

# To support login with Google in the admin panel (optional)
GOOGLE_LOGIN_CLIENT_ID=
GOOGLE_LOGIN_CLIENT_SECRET=

# Secret used to protect webhooks triggered by vercel cron jobs. Will be automatically set by vercel.
CRON_SECRET="demo-cron-secret"

# Number of backups to keep. Change backup schedule in vercel.json file. Default is backup every day at 3am.
BACKUPS_TO_KEEP=4
